<form *ngIf="showAddTask" class="mb-4" (ngSubmit)="onSubmit()">
  <div class="flex flex-col justify-between my-4">
    <label class="text-lg mr-3" for="text">Task</label>
    <input class="w-full border border-neutral-400 rounded pl-2" type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add Task">
  </div>
  <div class="flex flex-col justify-between my-4">
    <label class="text-lg mr-3" for="date">Day & Time</label>
    <input class="w-full border border-neutral-400 rounded pl-2" type="text" name="day" [(ngModel)]="day" id="day" placeholder="Add Day and Time">
  </div>
  <div class="flex items-center justify-between my-4">
    <label class="text-lg mr-3" for="reminder">Set Reminder?</label>
    <input class="h-4 w-4 border border-neutral-400 rounded pl-2" type="checkbox" name="reminder" [(ngModel)]="reminder" id="date">
  </div>
  <input type="submit" value="Save Task" class="bg-emerald-400 text-white w-full p-2 rounded-md active:scale-95">
</form>
